---
import { getCollection } from 'astro:content';

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';

// Component Imports
import CallToAction from '../components/CallToAction.astro';
import Grid from '../components/Grid.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';
import Pill from '../components/Pill.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';

// Page section components
import ContactCTA from '../components/ContactCTA.astro';
import Skills from '../components/Skills.astro';

// Content Fetching: List four most recent work projects
const projects = (await getCollection('work'))
	.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
	.slice(0, 4);

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<BaseLayout>
	<div class="stack gap-20 lg:gap-48">
		<div class="wrapper stack gap-8 lg:gap-20">
			<header class="hero">
				<Hero
					title="Hey, Darren Victoria here"
					tagline="I am a creative Software Engineer, big time tech adept and a final year graduand"
					align="start"
				>
					<div class="roles">
						<Pill><Icon icon="code" size="1.33em" /> Developer</Pill>
						<Pill><Icon icon="microphone-stage" size="1.33em" /> Speaker</Pill>
						<Pill><Icon icon="pencil-line" size="1.33em" /> UI/UX Designer</Pill><br>
					</div>
					<div class="roles">
						<Pill><Icon icon="camera-apeture" size="1.33em" /> Photographer/Videographer</Pill>
					</div>
				</Hero>

				<img
					alt="Jeanine White smiling in a red plaid shirt and tortoise shell glasses"
					width="480"
					height="620"
					src="/assets/portrait.jpg"
				/>
			</header>

			<Skills />

			<section>

				<section class="section with-background bg-variant">
					<header class="section-header stack gap-2 lg:gap-4  mt-8 ">
						<h3>Educational Timeline</h3>
						<p>A run through Educational journey</p>
					</header>
				</section>
	
				<ol class="flex justify-center sm:justify-between text-center">
					<li class="relative mb-6 sm:mb-0 " >
						<div class="flex items-center justify-center">
							<div class="z-10 flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full ring-0 ring-white dark:bg-blue-900 sm:ring-8 dark:ring-gray-900 shrink-0">
								<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="#ffffff" viewBox="0 0 256 256">
									<path d="M251.76,88.94l-120-64a8,8,0,0,0-7.52,0l-120,64a8,8,0,0,0,0,14.12L32,117.87v48.42a15.91,15.91,0,0,0,4.06,10.65C49.16,191.53,78.51,216,128,216a130,130,0,0,0,48-8.76V240a8,8,0,0,0,16,0V199.51a115.63,115.63,0,0,0,27.94-22.57A15.91,15.91,0,0,0,224,166.29V117.87l27.76-14.81a8,8,0,0,0,0-14.12ZM128,200c-43.27,0-68.72-21.14-80-33.71V126.4l76.24,40.66a8,8,0,0,0,7.52,0L176,143.47v46.34C163.4,195.69,147.52,200,128,200Zm80-33.75a97.83,97.83,0,0,1-16,14.25V134.93l16-8.53ZM188,118.94l-.22-.13-56-29.87a8,8,0,0,0-7.52,14.12L171,128l-43,22.93L25,96,128,41.07,231,96Z"></path>
								</svg>
							</div>
							
							
						</div>
						<div class="mt-3 sm:pe-17">
							<h3 class="text-lg font-semibold text-gray-900 dark:text-white">Bsc. (Hons) in Software Engineering</h3>
							<time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500 mt-3.5">2022 - 2025</time>
							<p class="text-base font-normal text-gray-500 dark:text-gray-400">University of Plymouth affiliated with <br> NSBM Green University</p>
							
							<ul class="text-xs mt-4  leading-7">
								<li><b>Vice President</b> of the SC of Software Engineering</li>
								<li><b>Council Member</b> at FOSS NSBM</li>
								<li>NSBM Media Unit English Announcer</li>
								<li>NSBM Media Photographer & Videographer</li>
								<li>Volunteer at IEEE NSBM</li>
								<li>Volunteer at ISACA Community</li>
								<li>Basketall player</li>
							</ul>
						</div>
					</li>
					<li class="relative mb-6 sm:mb-0 ">
						<div class="flex items-center justify-center">
							<div class="z-10 flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full ring-0 ring-white dark:bg-blue-900 sm:ring-8 dark:ring-gray-900 shrink-0">
								<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="#ffffff" viewBox="0 0 256 256">
									<path d="M231.65,194.55,198.46,36.75a16,16,0,0,0-19-12.39L132.65,34.42a16.08,16.08,0,0,0-12.3,19l33.19,157.8A16,16,0,0,0,169.16,224a16.25,16.25,0,0,0,3.38-.36l46.81-10.06A16.09,16.09,0,0,0,231.65,194.55ZM136,50.15c0-.06,0-.09,0-.09l46.8-10,3.33,15.87L139.33,66Zm6.62,31.47,46.82-10.05,3.34,15.9L146,97.53Zm6.64,31.57,46.82-10.06,13.3,63.24-46.82,10.06ZM216,197.94l-46.8,10-3.33-15.87L212.67,182,216,197.85C216,197.91,216,197.94,216,197.94ZM104,32H56A16,16,0,0,0,40,48V208a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V48A16,16,0,0,0,104,32ZM56,48h48V64H56Zm0,32h48v96H56Zm48,128H56V192h48v16Z"></path>
								</svg>
								
							</div>
							
						</div>
						<div class="mt-3 sm:pe-17">
							<h4 class="text-lg font-semibold text-gray-900 dark:text-white ">OLs and Secondary Education</h4>
							<time class="block text-sm font-normal leading-none text-gray-400 dark:text-gray-500 mb-2 mt-3.5 ">2017-2021</time>
							<p class="text-base font-normal text-gray-500 dark:text-gray-400">St.Thomas' Catholic International College, Seeduwa</p>
							<ul class="text-xs mt-4  leading-7">
								<li>Cambridge OL 5A*'s and 3 A's</li>
								<li><b>Founding Member</b> of Thomian Media </li>
								<li><b>Senior</b> Basketball Player</li>
								<li>Member of the college compèring team</li>
								<li>Top board of the IT & Software Development Club</li>
								<li>Senior Prefect (2020/21)</li>
								<li>Steward (2018/19)</li>
							</ul>
						</div>
					</li>
					<li class="relative mb-6 sm:mb-0">
						<div class="flex items-center justify-center">
							<div class="z-10 flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full ring-0 ring-white dark:bg-blue-900 sm:ring-8 dark:ring-gray-900 shrink-0">
								<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="#ffffff" viewBox="0 0 256 256">
									<path d="M201.54,54.46A104,104,0,0,0,54.46,201.54,104,104,0,0,0,201.54,54.46ZM88,192a16,16,0,0,1,32,0v23.59a88,88,0,0,1-32-9.22Zm48,0a16,16,0,0,1,32,0v14.37a88,88,0,0,1-32,9.22Zm-28.73-56h41.46l11.58,25.1A31.93,31.93,0,0,0,128,170.87a31.93,31.93,0,0,0-32.31-9.77Zm7.39-16L128,91.09,141.34,120Zm75.56,70.23c-2,2-4.08,3.87-6.22,5.64V176a7.91,7.91,0,0,0-.74-3.35l-48-104a8,8,0,0,0-14.52,0l-48,104A7.91,7.91,0,0,0,72,176v19.87c-2.14-1.77-4.22-3.64-6.22-5.64a88,88,0,1,1,124.44,0Z"></path>
								</svg>
								
							</div>
						</div>
						<div class="mt-3 sm:pe-17">
							<h3 class="text-lg font-semibold text-gray-900 dark:text-white ">Primary and Secondary Education</h3>
							<time class="block text-sm font-normal leading-none text-gray-400 dark:text-gray-500 mb-2 mt-3.5">2007 - 2017</time>
							<p class="text-base font-normal text-gray-500 dark:text-gray-400">Sri Lankan School Muscat,Oman</p>
							<ul class="text-xs mt-4  leading-7">
								<li>Secratary at Sparks Gavel Club</li>
								<li>Member of Event Compèring Team</li>
								<li>Member of School Debate Team</li>
								<li>Sri Lankan Senior Scout</li>
								<li>Basketball Player</li>
								<li>Junior Leader</li>
								<li>Science and Robotics Member</li>
							</ul>
						</div>
					</li>
				</ol>
				</section>
		</div>

		

		<main class="wrapper stack gap-20 lg:gap-4">
			<section class="section with-background with-cta">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>Selected Project Work</h3>
					<p>Take a look below at some of my featured work for clients from the past few years.</p>
				</header>

				<div class="gallery">
					<Grid variant="offset">
						{
							projects.map((project) => (
								<li>
									<PortfolioPreview project={project} />
								</li>
							))
						}
					</Grid>
				</div>

				<div class="cta">
					<CallToAction href="/work/">
						View All
						<Icon icon="arrow-right" size="1em" />
					</CallToAction>
				</div>
			</section>

			<section>
				<div class="py-24 sm:py-32">
					<div class="mx-auto max-w-7xl px-6 lg:px-8">
						<section class="section with-background bg-variant">
							<header class="section-header stack gap-2 lg:gap-4  mt-2 ">
								<h3>Tech Stack & Certifications</h3>
								<p>Read more about the skills I have instilled in me and the certifications that back me </p>
							</header>
						</section>
					  <div class="mx-auto mt-2 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
						<img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="assets/about/skills-icons/reactjs.png" alt="Transistor" width="158" height="48">
						<img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="assets/about/skills-icons/firebase.png" alt="Reform" width="158" height="48">
						<img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="assets/about/skills-icons/csharp.png" alt="Tuple" width="158" height="48">
						<img class="col-span-2 max-h-12 w-full object-contain sm:col-start-2 lg:col-span-1" src="assets/about/skills-icons/flutter.png" alt="SavvyCal" width="158" height="48">
						<img class="col-span-2 col-start-2 max-h-12 w-full object-contain sm:col-start-auto lg:col-span-1" src="assets/about/skills-icons/azure.png" alt="Statamic" width="158" height="48">
					  </div>
					</div>
				  </div>
				  <div class="cta">
					<CallToAction href="/about/">
						Checkout Skills & Certifications
						<Icon icon="arrow-right" size="1em" />
					</CallToAction>
				</div>
			</section>

			
			
			
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}

	.roles {
		display: none;
	}

	.hero img {
		aspect-ratio: 5 / 4;
		object-fit: cover;
		object-position: top;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	@media (min-width: 50em) {
		.hero {
			display: grid;
			grid-template-columns: 6fr 4fr;
			padding-inline: 2.5rem;
			gap: 3.75rem;
		}

		.roles {
			margin-top: 0.5rem;
			display: flex;
			gap: 0.5rem;
		}

		.hero img {
			aspect-ratio: 3 / 4;
			border-radius: 4.5rem;
			object-fit: cover;
		}
	}

	/* ====================================================== */

	.section {
		display: grid;
		gap: 2rem;
	}

	.with-background {
		position: relative;
	}

	.with-background::before {
		--hero-bg: var(--bg-image-subtle-2);

		content: '';
		position: absolute;
		pointer-events: none;
		left: 50%;
		width: 100vw;
		aspect-ratio: calc(2.25 / var(--bg-scale));
		top: 0;
		transform: translateY(-75%) translateX(-50%);
		background:
			url('/assets/backgrounds/noise.png') top center/220px repeat,
			var(--hero-bg) center center / var(--bg-gradient-size) no-repeat,
			var(--gray-999);
		background-blend-mode: overlay, normal, normal, normal;
		mix-blend-mode: var(--bg-blend-mode);
		z-index: -1;
	}

	.with-background.bg-variant::before {
		--hero-bg: var(--bg-image-subtle-1);
	}

	.section-header {
		justify-self: center;
		text-align: center;
		max-width: 50ch;
		font-size: var(--text-md);
		color: var(--gray-300);
	}

	.section-header h3 {
		font-size: var(--text-2xl);
	}

	@media (min-width: 50em) {
		.section {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: 'header header header header' 'gallery gallery gallery gallery';
			gap: 5rem;
		}

		.section.with-cta {
			grid-template-areas: 'header header header cta' 'gallery gallery gallery gallery';
		}

		.section-header {
			grid-area: header;
			font-size: var(--text-lg);
		}

		.section-header h3 {
			font-size: var(--text-4xl);
		}

		.with-cta .section-header {
			justify-self: flex-start;
			text-align: left;
		}

		.gallery {
			grid-area: gallery;
		}

		.cta {
			grid-area: cta;
		}
	}

	/* ====================================================== */

	.mention-card {
		display: flex;
		height: 7rem;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 1px solid var(--gray-800);
		border-radius: 1.5rem;
		color: var(--gray-300);
		background: var(--gradient-subtle);
		box-shadow: var(--shadow-sm);
	}

	@media (min-width: 50em) {
		.mention-card {
			border-radius: 1.5rem;
			height: 9.5rem;
		}
	}
</style>
